*{
    margin: 0;padding:0;
}
html,
body {
    width: 100%;
    position: relative;
}


/*旁边的侧栏，hover效果没有做，因为是整块图片，如何分块选择hover？
**如何做一个判断，若是屏幕小于多少了就隐藏？？*/

.sidebar {
    position: fixed;
    right: 90px;
    bottom: 50px;
}

.sidebar>img {
    width: 35px;
    height: 110px;
}

.wrapper {
    width: 100%;
    min-width: 1000px;
    background-color: #fff;
}


/*头部样式*/

.header {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #34b256;
}

.header .wrap {
    width: 1000px;
    height: 62px;
    margin: 4px auto;
}


/*本来是没有加子元素的，但是发现后面所有的a都成了float的，宽度和高度都继承了这个，所以要改成子元素选择器*/

.header .wrap>a {
    float: left;
    width: 114px;
    height: 42px;
    margin-top: 12px;
}

.header .wrap>a>img {
    width: 114px;
    height: 42px;
}

.header .search_box {
    float: left;
    font-size: 0;
    width: 380px;
    height: 40px;
    margin-top: 14px;
    margin-left: 200px;
    position: relative;
}

.header .search_box .keywords {
    width: 310px;
    height: 30px;
    /*因为两个input又不对齐了，加了margin-top也不行，所以想起了之前看的vertical-align的奇妙之处，便尝试了一下，发现果然可以了*/
    vertical-align: top;
    padding: 3px 12px;
    font-size: 12px;
    border: 1px solid #e4e4e4;
}

.header .search_box .search_btn {
    width: 40px;
    height: 38px;
    background-color: #fff;
    background-image: url(../img/magnifier.png);
    background-size: 100% 110%;
    background-repeat: none;
    border: 1px #e4e4e4 solid;
    border-left: none;
}


/*想在此处加一个相邻的兄弟来控制当聚焦的时候，后面的提交button需要改变背景图片，但没搞出来*/

.header .search_box .keywords:focus {
    outline: none;
    border: 1px solid #e4e4e4;
}

.header .search_box .search_btn:hover {
    background-image: url(../img/magnifier2.png);
}

.header .wrap .search_box .hot_words {
    width: 130px;
    height: 17px;
    position: absolute;
    right: 42px;
    top: 13px;
}

.header .wrap .search_box .hot_words>a {
    display: inline-block;
    background: #f3f3f3;
    font-size: 12px;
    text-decoration: none;
    color: #808080;
    margin-right: 7px;
    padding: 1px;
}

.header .wrap .search_box .hot_words>a:hover {
    background-color: #dfdfdf;
    color: #333;
}
.header .search_box .keywords:focus+.hot_words{
    display: none;
}
.header .wrap .loginbox {
    float: right;
    font-size: 13px;
    width: 230px;
    margin-top: 25px;
    margin-right: -8px;
    height: 20px;
}

.header .wrap .loginbox a {
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
    color: #000;
}


/*导航栏样式*/

.nav {
    width: 100%;
    height: 42px;
    border-bottom: #e8e8e8 2px solid;
    box-shadow: 0 3px 3px 3px rgba(245, 245, 245, 0.5);
}

.nav .wrap {
    width: 1000px;
    height: 42px;
    margin: 0 auto;
}

.nav .wrap a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    line-height: 42px;
}

.nav .wrap .nav_box {
    display: inline-block;
    width: 730px;
    height: 42px;
    font-size: 0;
    margin-left: -22px;
}

.nav .wrap .nav_box a {
    font-size: 15px;
    padding: 0 22px;
}

.nav .wrap .user_need {
    width: 270px;
    height: 42px;
    float: right;
    margin-right: -10px;
}

.nav .wrap .user_need a {
    padding: 0 10px;
    font-size: 13px;
}

.nav .wrap .user_need a img {
    /*此处本来直接用的middle，但是middle还是有些些不平突出来。用text-bottom就可以解决了*/
    vertical-align: text-bottom;
    margin-right: 5px;
}

.nav .wrap .nav_box a:hover,
.nav .wrap .user_need a:hover {
    color: #35b558;
}


/*中部左侧导航栏样式start*/

.container {
    width: 100%;
    min-width: 1000px;
}

.container .banner_wrap {
    width: 1000px;
    margin: 15px auto;
    position: relative;
}

.container .banner_wrap .lesson_left {
    width: 210px;
    height: 305px;
    display: inline-block;
    position: relative;
}

.container .banner_wrap .lesson_left ul {
    width: 100%;
    height: 290px;
    border-top: #35b558 3px solid;
    border-left: 1px solid #e4e4e4;
    /*border-right:1px solid #e4e4e4;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container .banner_wrap .lesson_left ul li {
    width: 208px;
    height: 37px;
    /*负边距市拿来重叠的*/
    margin-top: -1px;
    overflow: hidden;
    position: relative;
    list-style: none;
}

.container .banner_wrap .lesson_left ul li>a {
    display: block;
    margin-left: -2px;
    width: 193px;
    height: 37px;
    text-decoration: none;
    border: 1px solid #f5f5f5;
    font-size: 14px;
    line-height: 37px;
    padding-left: 15px;
    color: #000;
}

.container .banner_wrap .lesson_left ul li>a:after {
    position: absolute;
    right: 10px;
    top: 5px;
    content: url(../img/arrowr.ico);
}

.container .banner_wrap .lesson_left ul li>a:hover {
    color: #35b558;
    border-left: 2px solid #35b558;
    border-right: none;
}

.container .banner_wrap .lesson_left ul li>a:hover:after {
    content: "";
}


/*这一段想实现覆盖在另外的元素上面的，可是都没有起作用*/

.container .banner_wrap .lesson_left ul:hover,
.container .banner_wrap .lesson_left ul li:hover {
    overflow: visible;
    z-index: 3;
    background-color: #fff;
}

.container .banner_wrap .lesson_left ul:hover+.line {
    visibility: hidden;
}

.container .banner_wrap .lesson_left ul li .folder_setion {
    position: absolute;
    left: 210px;
    top: 0;
    width: 400px;
    min-height: 410px;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    font-size: 13px;
}

.folder_setion dl {
    margin: 0;
}

.folder_setion dl dt {
    height: 36px;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #e4e4e4;
    line-height: 37px;
}

.folder_setion dl dd {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 0;
}


/*下面这个样式好像没有生效*/

.folder_setion dl dd:nth-child(1) {
    margin-left: 10px;
}

.folder_setion dl dd:after {
    content: "|";
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}


/**
     *本来dd设置为浮动向左的，但是由于设置之后，都骑到dt上去了，不知道如何修复，所以将dd改成了inline-block   
    .folder_setion dl dt:before,
    .folder_setion dl dt:after {
        display: block;
        content: "clear";
        clear: both;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }*/


/*以上为中部banner左边样式，
    *其中hover之后出来的div与左侧对齐的样式没有搞出来
    *dl下的dt样式没有搞好
    *左侧底部的小三角还没有弄，是否用position为absolute来定位呢？为什么z-index不起作用呢？
    */

.line {
    width: 210px;
    height: 12px;
    margin: 0;
    background: #e4e4e4;
    position: relative;
    z-index: 0;
}

.line:before {
    content: url("../img/arrow.png");
    position: absolute;
    left: 100px;
    top: -3px;
}


/*inner_banner部分*/

.banner_wrap .inner_banner {
    position: absolute;
    top: 0;
    left: 220px;
    display: inline-block;
    border-bottom: 1px solid #e4e4e4;
}

.banner_wrap .inner_banner,
.banner_wrap .inner_banner a,
.banner_wrap .inner_banner a img {
    width: 570px;
    height: 305px;
}

.banner_wrap .lesson_right {
    float: right;
    width: 210px;
    height: 305px;
}

.banner_wrap .lesson_right .lesson_right_box {
    width: 208px;
    height: 151px;
    border: 1px solid #e4e4e4;
}

.banner_wrap .lesson_right .adjust {
    margin-bottom: -1px;
}

.banner_wrap .lesson_right .adjust p {
    padding: 8px;
}

.lesson_right .lesson_right_box a {
    width: 166px;
    height: 111px;
    padding: 20px;
    margin: 0;
    display: block;
    text-decoration: none;
    color: #000;
    position: relative;
}

.lesson_right .lesson_right_box a h2 {
    margin-top: 0;
    font-size: 16px;
    font-weight: normal;
}

.lesson_right .lesson_right_box a p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1em;
    margin: 15px auto;
    color: #35b558;
}

.lesson_right .lesson_right_box a input {
    width: 155px;
    height: 30px;
    font-size: 14px;
    line-height: 26px;
    position: absolute;
    bottom: 20px;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.lesson_right .lesson_right_box a input.up_btn {
    color: #fff;
    border: none;
    background-color: #7bda95;
}

.lesson_right .lesson_right_box a input.bottom_btn {
    color: #35b558;
    border: 1px solid #35b558;
    background-color: #f3fff6;
}

.lesson_right .lesson_right_box a input:hover {
    background-color: #35b558;
    color: #fff;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


/*热门课程start*/

.main {
    width: 1000px;
    margin: 20px auto;
}

.main .hot_course_list {
    width: 1000px;
}

.main .hot_course_list ul {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e4e4e4;
}

.main .hot_course_list ul li {
    display: inline-block;
    width: 166px;
    height: 40px;
    margin-left: -5px;
}

.main .hot_course_list ul li>a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.main .hot_course_list ul li>a:hover {
    color: #35b558;
    border-bottom: 1px solid #35b558;
    position: relative;
}

.main .hot_course_list ul li:hover a:after {
    content: "";
    border: 5px solid #35b558;
    border-color: transparent transparent #35b558 transparent;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 82px;
}

.hot_course ul {
    height: 480px;
    margin: 0;
    padding: 0;
    margin-left: -12px;
    margin-right: -1px;
}

.hot_course ul li {
    width: 235px;
    height: 220px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-left: 13px;
    margin-top: 10px;
    border: 1px solid #e4e4e4;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -transition: all 0.3s ease;
}

.item div img {
    width: 235px;
    height: 130px;
}

.item h2 {
    font-size: 16px;
    margin-left: 10px;
    font-weight: normal;
}

.item p {
    width: 206px;
    font-size: 14px;
    line-height: 16px;
    margin: 25px auto 0 auto;
    height: 50px;
    overflow: hidden;
    color: #838383;
    display: none;
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -transition: all 0.3s ease;
}

.item .ins {
    width: 206px;
    color: #838383;
    font-size: 14px;
    margin: 10px auto 0 auto;
}

.hot_course ul li:hover {
    height: 305px;
    /*position: absolute;*/
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -transition: all 0.7s ease;
}

.hot_course ul li:hover p {
    display: block;
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -transition: all 0.7s ease;
}


/*title的样式*/

.main {
    margin: 20px auto;
    margin-bottom: 25px;
    width: 1000px;
}

.main:after {
    display: block;
    content: "clear";
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.sub_title {
    width: 1000px;
    height: 25px;
    margin-bottom: 15px;
}

.sub_title strong {
    font-size: 18px;
    line-height: 25px;
    color: #000;
}

.question {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
    font-size: 15px;
    /*行高设置为容器高度，可是符号还是偏上，设置了比容器还要高后便成为了居中状态。*/
    line-height: 20px;
    border-radius: 50%;
    background-color: #999;
    color: #fff;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
}

.question_ins {
    visibility: hidden;
    font-size: 12px;
    height: 22px;
    padding: 3px 5px;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 3px 10px rgba(245, 245, 245, .5);
    -moz-box-shadow: 0 3px 10px rgba(245, 245, 245, .5);
    box-shadow: 0 10px 3px rgba(245, 245, 245, .5);
    webkit-transition: visibility 0.5s ease-in-out;
    -moz-transition: visibility 0.5s ease-in-out;
    transition: visibility 0.5s ease-in-out;
}

.question:hover+.question_ins {
    visibility: visible;
    -webkit-transition: visibility 0.5s ease-in-out;
    -moz-transition: visibility 0.5s ease-in-out;
    transition: visibility 0.5s ease-in-out;
}


/*更多按钮*/

.sub_title>a {
    font-size: 12px;
    white-space: 0.3em;
    float: right;
    line-height: 25px;
    text-decoration: none;
    color: #2d85ca;
}


/*job_path的样式start*/

.job_path_content {
    width: 1005px;
    padding-left: 1px;
}

.job_path_content>a {
    /*display: inline-block;*/
    float: left;
    height: 300px;
    width: 199px;
    border: 1px solid #e4e4e4;
    margin-left: -1px;
    text-decoration: none;
    /*margin-left: -5px;*/
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    /*下面这一句没有起作用*/
    border-collapse: collapse;
}

.job_path_content>a>* {
    width: 199px;
    margin-bottom: 15px;
    text-align: center;
}

.job_path_content>a img {
    height: 120px;
    border: none;
}

.job_path_content>a h2 {
    height: 18px;
    font-size: 16px;
    color: #000;
}

.job_path_content>a p {
    font-size: 13px;
    color: #666;
    font-weight: normal;
    margin: 5px;
}

.job_path_content>a .turngreen_btn {
    width: 140px;
    height: 35px;
    font-size: 14px;
    margin: 15px 30px;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    color: #35b558;
    border: 1px solid #35b558;
    background-color: #f3fff6;
}


/*为了在hover的时候显示四条边而同时在展示的时候并不想要2px的边框，所以用了margin的正负边距，带来的副作用就是右边的a会随着一起动*/

.job_path_content>a:hover {
    border: 1px solid #35b558;
    margin-right: 1px;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


/*应该是下下策。。还是尝试用floatleft
.job_path_content>a:hover+a{
    border-left:  1px solid #35b558;
}
*/

.job_path_content>a:hover .turngreen_btn {
    background-color: #35b558;
    color: #fff;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


/*knowledge_path START*/

.knowledte_path_content {
    width: 994px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-top: 5px;
}

.knowledte_path_content>.grid {
    width: 167px;
    height: 120px;
    display: inline-block;
    overflow: hidden;
    margin-left: -5px;
    margin-top: -3px;
}

.knowledte_path_content>.grid:hover {
    cursor: pointer;
    position: relative;
}

.front,
.back {
    width: 165px;
    height: 118px;
    border: 1px solid #e4e4e4;
    text-align: center;
}

.knowledte_path_content>.grid:hover .front {
    position: absolute;
    top: -120px;
}

.front img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.front h2 {
    font-size: 15px;
    margin: 8px auto;
}

.front>span {
    color: #35b558;
    font-size: 14px;
}

.back {
    background: #f5f5f5;
}

.back>span {
    display: block;
    font-size: 15px;
    margin: 25px auto 5px auto;
    color: #666;
}

.green_btn {
    width: 140px;
    height: 35px;
    font-size: 14px;
    line-height: 26px;
    border: none;
    margin: 10px auto;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #35b558;
    color: #fff;
}

.green_btn:hover {
    background-color: #7bda95;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


/*精品课程start*/

.lesson_card {
    width: 1015px;
}

.one_card {
    width: 234px;
    height: 261px;
    border: 1px solid #e4e4e4;
    display: inline-block;
    margin-right: 14px;
    position: relative;
    /*text-align: center;*/
}

.one_card:hover {
    border: #35b558 solid 1px;
}

.one_card:hover .down {
    display: block;
}

.up,
.down {
    width: 201px;
    height: 257px;
    margin: 0 auto;
    background-color: #fff;
    /*border: 1px solid green;*/
}

.up h2 {
    width: 201px;
    font-size: 15px;
    margin-top: 0;
    /*margin-left: 15px;*/
    padding-top: 15px;
}

.up img {
    width: 201px;
    height: 160px;
    border: none;
}

.up div {
    width: 201px;
    font-size: 12px;
    margin-top: 15px;
    line-height: 20px;
}

.up div .btn {
    float: right;
    display: block;
    width: 56px;
    height: 20px;
    background-color: #35b558;
    color: #fff;
    text-align: center;
    line-height: 20px;
}

.down {
    text-align: center;
    height: 200px;
    display: none;
    margin-top: -250px;
    left: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3;
    position: absolute;
}

.down img {
    width: 50px;
    height: 50px;
    margin: 18px auto;
    border-radius: 50%;
}

.down p {
    font-size: 12px;
    text-align: left;
    line-height: 16px;
}

.down p:hover {
    color: #35b558;
    cursor: pointer;
}

.down button {
    width: 100px;
    height: 30px;
    background-color: #35b558;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border: none;
    line-height: 30px;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.up div .btn:hover,
.down button:hover {
    cursor: pointer;
    background-color: #7bda95;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


/*wiki start*/

.wiki_content {
    width: 1000px;
}

.one_wiki {
    width: 303px;
    height: 370px;
    border: 1px solid #e4e4e4;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: -5px;
}

.one_wiki h2 {
    font-size: 16px;
    width: 302px;
    margin: 8px auto;
}

.one_wiki:hover {
    border: 1px solid #34b256;
}

.one_wiki:hover+.one_wiki {
    border-left: 1px solid #34b256;
}

.wiki_img dl {
    width: 301px;
    margin-bottom: 10px;
}

.wiki_img dl dd {
    position: relative;
    display: inline-block;
    width: 148px;
    margin: 0;
    margin-right: 0px;
}

.wiki_img dl dd a {
    text-decoration: none;
}

.wiki_img dl dd .look {
    width: 40px;
    height: 23px;
    position: absolute;
    right: -5px;
    top: -13px;
    visibility: hidden;
}

.wiki_img dl dd .wikiBook:hover+.look {
    visibility: visible;
}

.wiki_img dl dd .wikiBook {
    width: 147px;
    height: 190px;
    margin-bottom: 5px;
}

.wiki_img dl dd h3,
.wiki_img dl dd span {
    font-size: 15px;
    color: #000;
    margin: 5px;
    display: block;
    text-align: center;
    font-weight: normal;
}

.wiki_img dl dd span {
    font-size: 12px;
    color: #999;
}

.wiki_img dl dd:hover h3,
.wiki_img dl dd:hover span {
    color: #34b256;
}

.wiki_img ul {
    width: 270px;
    margin: 0 auto;
}

.wiki_img ul li {
    font-size: 13px;
    color: #999;
    height: 23px;
}

.wiki_img ul li:hover {
    color: #34b256;
    cursor: pointer;
}

.wiki_img ul li p {
    display: inline-block;
    margin: 0;
}

.wiki_img ul li span {
    float: right;
}

.coperation_content {
    border: 1px solid #e4e4e4;
    width: 968px;
    padding: 15px;
    position: relative;
}

.coperation_content>a>img {
    width: 148px;
    height: 50px;
    border: 1px solid #e4e4e4;
    margin-left: 7px;
}


/*这里没有实现hover出现左右箭头，雪碧图使用还不太懂*/

.coperation_content .arrowl,
.coperation_content .arrowr {
    width: 40px;
    height: 45px;
    position: absolute;
    display: none;
    overflow: hidden;
}

.coperation_content>span>img {
    display: none;
}


/*合作院校和媒体报道start*/

.school_content {
    border: 1px solid #e4e4e4;
    width: 950px;
    padding: 25px;
    position: relative;
}

.school_content>a>img {
    width: 110px;
    height: 110px;
    margin-left: 20px;
}

.media_content {
    border: 1px solid #e4e4e4;
    width: 978px;
    padding: 15px 10px;
    padding-left: -5px;
    position: relative;
    margin-bottom: 25px;
}

.media_content>a>img {
    width: 150px;
    height: 50px;
    border: 1px solid #e4e4e4;
    margin-left: 6px;
}

.footer {
    width: 100%;
    min-width: 1000px;
    /*
        height: 300px;*/
    background-color: #fafafa;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
}

.footer .contact {
    width: 1000px;
    margin: 0 auto;
}

.contact a {
    text-decoration: none;
    color: #808080;
}

.contact dl {
    width: 145px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 30px;
    display: inline-block;
    vertical-align: top;
}

.contact dl:not(:first-child) {
    border-left: 1px solid #e4e4e4;
}

.contact dl dt {
    font-size: 15px;
    font-weight: bolder;
}

.contact dl>dd {
    margin-left: 8px;
    width: 154px;
    height: 16px;
    margin-top: 10px;
    font-size: 13px;
    position: relative;
}


/*使用伪类控制前面那个点的样式*/

.contact dl>dd:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    position: absolute;
    left: -10px;
    top: 7px;
    background-color: #818181;
    border-radius: 50%;
}

.rightfoot {
    display: inline-block;
    width: 230px;
    padding-left: 40px;
    padding-top: 30px;
    border-left: 1px solid #e4e4e4;
}

.rightfoot strong {
    color: #35b558;
    font-size: 15px;
    font-weight: bolder;
}

.phone {
    margin-top: 15px;
}

.phone a img {
    width: 21px;
    height: 39px;
    margin-right: 10px;
}

.phone a div {
    display: inline-block;
}

.phone a div strong {
    font-size: 20px;
    color: #777;
}

.phone a div p {
    font-size: 15px;
    margin-top: 10px;
}


/*直接.phone a:hover对strong里面的字没有影响,我猜测可能是优先级的影响*/

.phone a:hover,
.phone a:hover div strong {
    color: #35b558;
}

.share {
    width: 220px;
}

.share a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url(../img/sprite.png);
}

.share a.sina-icon {
    background-position: 178px 402px;
}

.share a.sina-icon:hover {
    background-position: 178px 362px;
}

.share a.tieba-icon {
    background-position: 56px 402px;
}

.share a.tieba-icon:hover {
    background-position: 56px 362px;
}

.share a.wechat-icon {
    background-position: 178px 320px;
    position: relative;
}

.share a.wechat-icon:hover {
    background-position: 178px 280px;
}

.share a.wechat-icon img {
    display: none;
}

.share a.wechat-icon:hover img {
    display: block;
    position: absolute;
    left: -48px;
    top: -162px;
}

.kefu {
    display: inline-block;
}

.kefu img {
    margin-top: 10px;
    margin-left: -6px;
    width: 40px;
    height: 40px;
}

.kefu div {
    display: inline-block;
}

.kefu div p {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 15px;
}

.kefu div p:nth-child(2) {
    font-size: 13px;
}

.kefu:hover {
    color: #35b558;
}


/*copyright*/

.copyright {
    width: 100%;
    min-width: 1000px;
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-top: 15px;
    margin-bottom: 30px;
}

.copyright a {
    text-decoration: none;
    color: #999;
}

.copyright a:hover {
    color: #34b256;
}
